@page "/reports"
@rendermode InteractiveServer
@using Monkey.Core.Projections.Games
@using Monkey.Data.Data
@using Monkey.Data.Data.Entities
@using Monkey.Data
@using Monkey.Core.Services.GameServices
@using Monkey.Core.Projections
@using Monkey.Web.ViewModels.Game
@inject IGameService gameService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager

<PageTitle>Статистика</PageTitle>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <NavLink href="/home" style="text-decoration: none">
            <a class="navbar-brand">Board Games</a>
        </NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Начало</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalog">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reports">Статистики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Свържи се с нас</a>
                </li>
                @if (isAdmin)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/game/create">Добави игра</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<h1>Reports</h1>

@if (loading)
{
    
    <p>Loading...</p>
}
else
{
    <div class="field">
        <div class="container">
            <div class="content">
                <div class="description">СТАТИСТИКИ</div>
                <div class="box1">
                    <h3>Средна Оценка На Всички Игри: @string.Format("{0:f2}", averageRating)/5.00</h3>
                </div>
                
                <div class="box1">
                    <h3>Общ Брой Свободни Игри: @freeGamesCount/20</h3>
                </div>
                <div class="lists">
                    <h3>Топ 5 Най-Играни Игри:</h3>
                    <ol class="styled-list">
                        @foreach (var game in top5MostPlayed)
                        {
                            <li>
                                <div class="game-card" @onclick="() => OpenGameDetails(game.Id)">

                                    <div class="game-info">
                                        <div class="game-name">Име на игра: @game.Name</div>
                                        <div class="game-count">Играна @game.Count пъти</div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ol>
                </div>
                <div class="lists">
                    <h3>Топ 5 най-Високо Оценени Игри</h3>
                    <ol class="styled-list">
                        @foreach (var game in top5HighestRated)
                        {
                            <li>
                                 <div class="game-card" @onclick="() => OpenGameDetails(game.Id)">
                            
                                        <div class="game-info">
                                            <div class="game-name">Име на игра: @game.Name</div>
                                            <div class="game-count">Средна оценка: @string.Format("{0:f2}", game.AverageRating)</div>
                                        </div>
                                 </div>
                            </li>
                        }
                    </ol>
                </div> 
            </div>
        </div>
    </div>
}

@code {
    private List<GameGeneralInfoProjection> GameList;
    private List<(string Name, int Count, int Id)> top5MostPlayed;
    private List<(string Name, double AverageRating, int Id)> top5HighestRated;
    private double averageRating;
    private int freeGamesCount;
    private bool loading = true;
    bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            var isAdmin = user.IsInRole("Admin");

            if (!isAdmin)
            {
                NavManager.NavigateTo("/home");
            }
            GameList = (await gameService.GetAllGames()).ToList();

            averageRating = GameList.Where(g => g.Raitings.Any()).Average(g => g.Raitings.Average(r => r.Rate));
            freeGamesCount = GameList.Count(g => !g.isBooked);
            top5MostPlayed = GameList.OrderByDescending(g => g.Count).Take(5).Select(g => (g.Name, g.Count, g.Id)).ToList();
            top5HighestRated = GameList.Where(g => g.Raitings.Any()).OrderByDescending(g => g.Raitings.Average(r => r.Rate)).Take(5).Select(g => (g.Name, g.Raitings.Average(r => r.Rate), g.Id)).ToList();

            loading = false;
        
        
    }

    private void OpenGameDetails(int gameId) => NavManager.NavigateTo($"/game/{gameId}");

}