@page "/game/{id:int}"
@using Monkey.Core.Services.GameServices
@using Monkey.Data;
@using Monkey.Data.Data.Entities;
@inject IGameService gameService;

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Board Games</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Начало</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Статистики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Любими</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Свържи се с нас</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h3>Игра</h3>

@if (game != null)
{
    <div class="game-container">
        <div class="game-header">
            <div class="game-title">@game.Name</div>
            <div class="game-info">Сложност: @game.Difficulty | Оставащи: @game.Count</div>
        </div>
        <div class="game-image-container">
            <img src="@game.Picture" class="game-image" />
            <NavLink class="nav-link" href="catalog">
                    <button class="action-button"><b>Върни</b></button>
            </NavLink>
        </div>
        <div class="game-details-container">
            <div class="game-details">
                <b>  <p>@game.Description</p></b>
            </div>
            <div class="forma">
                <form>
                    <div class="form-field">
                        <label for="name">Въведи име:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-field">
                        <label for="start-date">Дата от:</label>
                        <input type="date" id="start-date" name="start-date" required>
                    </div>
                    <div class="form-field">
                        <label for="start-time">Час от:</label>
                        <input type="text" id="start-time" name="start-time" required pattern="[0-9]{1,2}:[0-9]{2}">
                    </div>
                    <div class="form-field">
                        <label for="end-date">Дата до:</label>
                        <input type="date" id="end-date" name="end-date" required>
                    </div>
                    <div class="form-field">
                        <label for="end-time">Час до:</label>
                        <input type="text" id="end-time" name="end-time" required pattern="[0-9]{1,2}:[0-9]{2}">
                    </div>
                    <button type="submit"><b>Запази игра</b></button>
                </form>
            </div>
            @if (game.Comments != null)
            {
                <table>
                    <thead>
                        <tr>
                            <th>Текст</th>
                            <th>Час</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comment in game.Comments)
                        {
                            <tr>
                                <td>@comment.Text</td>
                                <td>@comment.Hour</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    Game game;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (game == null)
        {
            game = gameService.GetById(Id);
        }
    }
}
