@page "/game/details/{id:int}"
@using Monkey.Core.Services.GameServices
@using Monkey.Data;
@using Monkey.Data.Data.Entities;
@inject IGameService gameService;

<h3>Game</h3>

@if (game != null)
{
    <table>
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Difficulty</th>
        <th>Count</th>
        <th>Description</th>
        <th>Booked</th>
        </thead>
        <tbody>
        <td>@Id</td>
        <td>@game.Name</td>
        <td>@game.Difficulty</td>
        <td>@game.Count</td>
        <td>@game.Description</td>
        <td>@game.isBooked</td>
        <img src="@game.Picture" width="200px" height="200px" />

        </tbody>

    </table>


    @if (game.Comments != null)
    {
        <table>
            <thead>
            <td>Text</td>
            <td>Hour</td>
            </thead>
            @foreach (var commnet in game?.Comments)
            {
                <td>@commnet.Text</td>
                <td>@commnet.Hour</td>
            }
        </table>
    }
}

@code {
    Game game;
    [Parameter]
    public int Id { get; set; }
    public double Rating { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (game == null)
        {
            game = gameService.GetById(Id);
            // Rating = game.Raitings.Average()
        }
    }
}
